.control-container {
    position: absolute;
    right: 26px;
    bottom: 10px;
    padding: 5px;
    z-index: 100;
    background-color: black;
    border-radius: 50%;
    align-items: left;
    font-size: 14px;
    
}

.control-dropdown-content {
    position: absolute;
    right: 0;
    bottom: 36px;
    margin-bottom: -10px;
    transition: margin-bottom .2s ease-in-out;
    z-index: 100;
    display: none;
    background-color: black;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(49,54,68,.05), 0 5px 20px rgba(49,54,68,.08);
    
    
}

.control-button {
    width: 14px;
    height: 16.7px;
    text-align: center;
}

.control-container:hover {
    cursor: pointer;
}

.control-container:hover .control-dropdown-content {
    display: block;
}

.control-dropdown-content:hover {
    display: block;
}

.item, .item-active {

    align-items: center;
    font-size: 14px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 20px 50px;
    line-height: 0;
    padding: 6px 18px;
    width: 69%;
    border-radius: 4px;
    z-index: 110;

}

.item-active {
    background-color: lightgreen;
}

.item:hover {
    background-color: lightgray;
    
}