.list-card {
    display: grid;
    grid-template-rows: min-content auto;
    position: relative;
    width: 200px;
}

.card-cover {
    
    cursor: pointer;
    display: inline-block;
    height: 265px;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

:after, :before {
    box-sizing: border-box;
}

.card-cover-image {
    height: 100%;
    left: -20px;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px;
    
}

img {
    border-style: none;
    vertical-align: text-top;
}

.card-title {
    
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.card-title:hover {
    color: plum;
    transition: color .2s ease;
}

@media screen and (max-width: 1040px) {
    .list-card {
        width: 160px;
    }

    .card-cover {
        height: auto;
        
    }

    .card-cover:before {
        content: "";
        display: block;
        height: 0;
        width: 0;
        padding-bottom: 142.85714%;
    }

}

@media screen and (max-width: 760px) {
    .card-title {
        font-size: 1rem;
        
    }
}