.mylist-section {
    margin-top: 100px;
    min-height: 100vh;
}

.list-header {
    padding: 0;
    margin: 0 2rem 0 2rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    
}

.list-info {
    display: flex;
    width: 160px;
    cursor: pointer;
}

.list-title {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

.list-title:hover {
    color: var(--secondary-color);
    transition: color .2s ease-in-out;
}

.fa-angle-right {
    color: var(--secondary-color);
}

.dropdown {
    position: absolute;
    left: 150px;
    top: 135px;
}

.dropdown-content {
    background-color: var(--background-color);
    position: absolute;
    width: 120px;
    z-index: 100px;
    top: -17px;
    left: 20px;
    border-radius: 5px;
    margin: 0;
    display: none;
    padding-left: 3;
    pointer-events: none;
    
}

.list-info:hover .dropdown-content {
    display: block;
    transition: display .2s ease-in-out;
    pointer-events: all;
}

.dropdown-content:hover {
    display: block;
    pointer-events: all;
    
}

.items {
    padding: 4px;
    text-align: center;
    border-radius: 5px;
}

.items:hover {
    color: var(--secondary-color);
    transition: color .2s ease-in-out;
}

.count-box {
    margin: 2rem 0 0 0 ;
    display: flex;
    flex-wrap: wrap;
    width: 170px
}

.count {
    margin: .14rem 0 0 .2rem;
    text-align: right;
    width: 45px;
    color: var(--secondary-color)
}

.filler {
    width: 93%;
    line-height: 2rem;
    font-family: 'Permanent Marker', cursive;;
}

.fa-ghost {
    color: var(--secondary-color);
}

.fa-ghost:hover {
    transform: scale(1.2);
    transition: transform .2s ease-in-out;
}

.list-section {
    position: relative;
    display: grid;
    grid-gap: 28px 15px;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    justify-content: space-between;
    margin: 2rem;
    
}

@media only screen  /* Ipad */
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .list-section {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-gap: 25px 35px;
        margin: 1rem 1rem 1rem 1rem;
    }
}


@media only screen /* iphone 4 5  */
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
 {
    .list-section {
        grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
        grid-gap: 25px 35px;
        margin: 1rem 1rem 1rem 2rem;
    }
    .count-box {
        width: 100%;
        margin-bottom: 3px;
    }

    .fa-angle-right {
        display: none;
    }
    
}

@media only screen /* iphone 6 7 8  */
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .list-section {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        grid-gap: 25px 20px;
        margin: 1rem 1rem 1rem 1.5rem;
    }
    
}

@media only screen and (max-width: 760px) and (min-width: 680px){
    .list-section {
        grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
        grid-gap: 25px 20px;
        margin: 1rem 1rem 1rem 1.5rem;
    }
    
}


@media screen and (max-width: 1040px) and (min-width: 800px){
    .list-section {
        padding: 0 20px;
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        grid-gap: 25px 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1050px) {
    .list-section {
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        grid-gap: 25px 20px;
        
    }

    .header {
        margin-left: 2rem;
    }
}

@media screen and (min-width: 1300px) {
    .list-section {
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        grid-gap: 25px 50px;
    }

}