.mylist-section {
    margin-top: 100px;
}

.list-header {
    padding: 0;
    margin: 0 2rem 0 2rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    
}

.list-info {
    display: flex;
    width: 160px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    left: 150px;
    top: 135px;
}

.dropdown-content {
    background-color: #181C21;
    position: absolute;
    width: 120px;
    z-index: 100px;
    top: -17px;
    left: 20px;
    border-radius: 5px;
    margin: 0;
    opacity: 0;
    padding-left: 3;
    
}

.list-info:hover .dropdown-content {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.dropdown-content:hover {
    display: block;
}

.items {
    padding: 4px;
    text-align: center;
    border-radius: 5px;
}

.items:hover {
    color: rgb(240, 227, 203);
    transition: color .2s ease-in-out;
}

.count-box {
    margin: 2rem 0 0 0 ;
    display: flex;
    flex-wrap: wrap;
    width: 170px
}

.count {
    margin: .14rem 0 0 .2rem;
    text-align: right;
    width: 45px;
    color: powderblue
}

.list-section {
    position: relative;
    display: grid;
    grid-gap: 28px 30px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: space-between;
    margin: 2rem;
}

.filler {
    width: 93%;
    line-height: 2rem;
    font-family: 'Permanent Marker', cursive;;
}

@media screen and (max-width: 760px) {
    .list-section {
        grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
        grid-gap: 25px 20px;
        margin: 1rem;
    }

    .card-bottom {
        width: 145px;
    }
}


@media screen and (max-width: 1040px) and (min-width: 800px){
    .list-section {
        padding: 0 20px;
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        grid-gap: 25px 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1050px) {
    .list-section {
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        grid-gap: 25px 20px;
        
    }

    .header {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 1540px) and (min-width: 1300px) {
    .list-section {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-gap: 25px 20px;
    }

}