.list-header {
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.list-header .title {
    margin: 0;
}

.list-header .count {
    padding-top: 3px;
    
    
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 240px);
    grid-gap: 0;
    grid-row-gap: 150px;
    justify-content: space-evenly;
    
}