.mylist-section {
    margin-top: 100px;
}

.list-header {
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.list-header .title {
    margin-right: 1rem;
}

.list-header .count {
    padding-top: 3px;
}

.list-section {
    position: relative;
    display: grid;
    grid-gap: 28px 30px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: space-between;
    margin: 1rem;
}

@media screen and (max-width: 760px) {
    .list-section {
        grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
        grid-gap: 25px 20px;
    }
}

@media screen and (max-width: 1040px) {
    .list-section {
        padding: 0 20px;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-gap: 25px 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 1065px) {
    .list-section {
        grid-gap: 25px 14px;
    }
}

@media screen and (max-width: 1540px) {
    .list-section {
        grid-gap: 25px 20px;
    }
}