.navbar {
    background-color: #181C21;
    display: flex;
    height: 75px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color .8s ease,color .2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 999;
}

.navbar-section {
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1050px;
    width: 100%;
    
}

.logo {
   height: 50px;
   width: 50px;
}

.links {
    align-items: center;
    display: inline-flex;
    font-size: 1.4rem;
    font-weight: 600;
    justify-content: center;
    text-transform: capitalize;
    width: 100%;
    
}

.link {
    letter-spacing: .01em;
    padding: 18px 16px;
    text-decoration: none;
    transition: .15s;
    outline: 0;
    color: var(--primary-color);
}

.link:hover {
    color: var(--secondary-color);
}


@media screen and (max-height: 920px) {
    .navbar-section {
        height: 68px;
    }
}