.navbar {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar-section {
    background: #181C21;
    min-height: 4rem;
    max-height: 4rem;
    
}

.navbar-button {
    min-width: 10vw;
    max-width: 10vw;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #C3A995;
}
