.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    overflow: auto;
    
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}

.popup-content {
    position: fixed;
    left: 10%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 16px;
    background-color: var(--background-color);
    display: block;
    box-sizing: border-box;
    min-width: 80%;
    min-height: 80%;
    max-height: 80%;
    overflow-y: scroll;
}

.popup-content .banner {
    background-position: 80% 45%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
    width: 100%;
    margin-top: -18px;
    
}

.popup-content .banner .shadow {
    background-image: linear-gradient(to bottom,rgba(6,13,34,0) ,rgba(6,13,34,.6));
    height: 100%;
    width: 100%;
}

.popup-content .popup-header {
    position: relative;
}

.popup-content .popup-header .popup-header-section {
    min-width: 250px;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 215px auto;
}

.popup-poster-wrap {
    position: relative;
    margin-top: -125px;
}

.popup-poster-wrap-inner {
    position: relative;
}

.popup-poster {
    border-radius: 6px;
    box-shadow: 0 0 29px rgba(49,54,68,0.25);
    margin-top: 20px;
    margin-left: 10px;
    width: 90%;
    cursor: none;
}

.popup-description-section {
    display: inline-grid;
    grid-template-rows: min-content min-content auto;
    padding-top: 25px;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    
}

.description {
    display: block;
    margin-block-start: 1em;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.4;
    padding: 15px 0;
    margin-right: 2rem;
}

.popup-stats {
    margin: 15px 0 30px 15px;
    display: grid;
    grid-template-rows: repeat(4, 23px);
    grid-gap: 2px;
    min-height: 100px;    
    text-align: left;
}

#popup-rating, #popup-episodes, #popup-subtype {
    height: 20px;
    margin: 0;
    padding: 0;
}

#link-to-MAL:link ,#link-to-MAL:visited {
    padding: 0;
    color: var(--secondary-color);
    
}

.popup-close-button {
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 7px;
    font-size: 0.8rem;
    padding: 2px;
    
}

.popup-close-button:hover {
    background-color: var(--text-hover-color);
    transition: background-color .2s ease-in-out;
}

.popup-close-button-container {
    width: 50px;
    margin: 0;
    color: var(--primary-color);
    position: absolute;
    left: 88%;
    top: 30px;
}

.popup-close-button:hover {
    cursor: pointer;
}

.popup-control-dropdown-content {
    display: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: absolute;
    top: 192px;
    left: 10px;
    height: 105px;
    margin: 0;
    max-width: 70%;
    min-width: 70%;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(49,54,68,.05), 0 5px 20px rgba(49,54,68,.08);
    z-index: 10;
    pointer-events: none;
    
}

.popup-control-button {
    margin-top: 6px;
    margin-left: 2px;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    border-radius: 7px;
}

.popup-control-container {
    font-size: 1.2em;
    width: 150px;
    color: var(--secondary-color);
    margin-left: 10px;
    
    
}

.popup-control-container:hover {
    cursor: pointer;
}

.popup-control-container:hover .popup-control-dropdown-content {
    display: block;
    pointer-events: all;
}

.popup-control-dropdown-content:hover {
    display: block;
    pointer-events: all;
}

.popup-item, .popup-item-active {

    align-items: center;
    font-size: 14px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 20px 50px;
    line-height: 0;
    padding: 6px 18px;
    width: 76%;
    border-radius: 4px;

}

.popup-item-active {
    background-color: #81E3B5;
}

.popup-item:hover {
    background-color: lightgray;
    
}

@media screen and (min-width: 409px){
    .popup-content .popup-header .popup-header-section {
        padding-left: 30px;
        padding-right: 30px;
    }
    
}

@media screen and (max-width: 760px) { 
    .popup-close-button-container {
        left: 80%;
        top: 30px;
    }

    .popup-control-dropdown-content {
        left: 222px;
        top: 144px;
        max-width: 140px;
        min-width: 140px;

    }

    .popup-item-active {
        width: 104px;
    }

    .popup-control-button {
        top: 100px;
        width: 130px;
    }

    .popup-content .banner {
        height: 210px;
        margin-top: 0;
        width: 100%;
    }
    .popup-content {
        width: 100%;
        left: 0;
        bottom: 0;
    }

    .popup-description-section {
        margin-left: 1rem;
        
    }

    .popup-content .popup-header .popup-header-section {
        grid-template-columns: 1fr;
    }

    .popup-poster-wrap {
        margin-top: -150px;
        height: 350px;
    }

    .popup-poster-wrap-inner {
        display: grid;
        grid-template-columns: 200px auto;
        grid-gap: 16px;
        align-items: flex-end;
        
    }

    .popup-stats-container {
        width: 90%;
        text-align: center;
        justify-items: center;
        height: 50px;
        margin: 15px 3px 30px ;
        position: absolute;
        top: 300px;
    }

    .popup-stats {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
        text-align: center;
    }
    
    #popup-rating, #popup-episodes, #popup-subtype{
        width: 60px;
        padding: 0 20px 0 10px;
        text-align: center;
    }

    #link-to-MAL:link{
        padding-left: 0;
        width: 60px;
        margin :0;
        text-align: center;
    }


}

@media screen and (max-width: 760px) and (min-width: 600px) {
    .popup-stats-container {
        width: 90%;
        text-align: center;
        justify-items: center;
        height: 50px;
        margin: 15px 3px 30px 110px;
        position: absolute;
        top: 300px;
    }
}