body {
    padding: 0;
    margin: 0;
    color: #C3A995;
    font-family: 'Roboto', sans-serif;
    
}

.result-card {
    display: flex;
    position: relative;
    height: 317px;
    width: 150px;
    min-width: 200px;
    max-width: 200px;
    padding: 0.25rem;
    align-items: center;
    margin: 1rem 0 0 0;

    transition: .2s;
    border-radius: 14px;
    background-color: wheat;
    
}

.result-card-list::-webkit-scrollbar {
    display: none;
} 

img {
    height: 250px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    
    padding-bottom: 0;
    border-radius: 16px;
    
}

img:hover {
    cursor: pointer;
}

h5 {
    height: 20px;
    max-width: 160px;
    min-width: 160px;
    text-align: left;
    margin: .2rem 0 .2rem 0.2rem;
}

.result-card-bot {
    display: flex;
    
}

.result-card button {
    border-radius: 50%;
    font-size: 1rem;
    margin-bottom: 10px;
    float: right;
}

.result-card button:hover {
    cursor: pointer;
}


.result-card:hover {
    transform: translateY(-1rem);
    
}

.result-card:hover~.result-card{
    transform: translateX(80px);
}

.result-card:not(:first-child){
    margin-left: -80px;
}