
.top h3 {
    text-align: center;
    margin: 0;
}

.search h3{
    text-align: center;
}

.result-card-list {
    display: flex;
    padding: 1rem;
    overflow-x: scroll;
    justify-content: center;
    flex-wrap: nowrap;
    
}