body {
    background-color: #292F36;
}

.top h3, .upcoming h3, .trending h3 {
    text-align: left;
    margin: 2rem 0 1rem 1rem;
}

.search-bar {
    display: flex;
}

.search-bar input {
    color:black;
    min-width: 230px;
    max-width: 230px;
    border-radius: 40px;
    padding-left: 1rem;
    margin: 2rem;
    max-height: 20px;
    text-decoration: none;
    -webkit-appearance: none;
}

.search-bar input:focus {
    outline: none;
}

.search-section h3{
    text-align: left;
    margin: 2rem 0 1.5rem 1rem;
}

.result-card-list {
    position: relative;
    display: grid;
    grid-gap: 28px 30px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: space-between;
    margin: 1rem;
}

@media screen and (max-width: 760px) {
    .result-card-list {
        grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
        grid-gap: 25px 20px;
    }
}

@media screen and (max-width: 1040px) {
    .result-card-list {
        padding: 0 20px;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-gap: 25px 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 1065px) {
    .result-card-list {
        grid-gap: 25px 14px;
    }
}

@media screen and (max-width: 1540px) {
    .result-card-list {
        grid-gap: 25px 20px;
    }
}